<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')%>
</head>
<body>
<nav id="navbar"> <div id ="indexHeading">The Mongoose Store </div><div id="addContainer"> <a href="/products/new"> Add a new product</a> </div> </nav>
    

        <% products.forEach(product => { %>
            <div class="productContainer">


                   
               <a href="/products/<%=product.id %>"> 
                <img src="<%=product.img%>"/>
                </a>
                 
        </div>

       <% })%>
    
</body>
</html>