<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')%>
</head>
<body>
    
    <h1> Add new Product</h1>

    <form action="/products" method="POST">
    <input type="text" name="name" placeholder="enter name"> <br>
    <input type="text" name="description" placeholder="enter description"> <br>
    <input type="text" name="img" placeholder="enter img URL"> <br>
    <input type="number" name="price" placeholder="enter price"> <br>
    <input type="number" name="qty" placeholder="enter quantity"> <br>
        <input type="submit" name="" value="Add Product"/>
        
    </form>


</body>
</html>