<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<nav>
    <a href="/products"> Return to Main Page</a>
</nav>

<h1> <%=product.name%> </h1>
<a href="#"> Edit Product</a>
<br>

<img src="<%=product.img%>"/>
<h2> 
    Price: $ <%= product.price %>
    <br>  
    <% if(product.qty > 0) { %>
        Quantity: <%=product.qty%>
        <button onclick="buyProduct()"> Buy</button>
    <% } else { %>
        Quantity: OUT OF STOCK
    <% } %>

      
    

 </h2>





<% function buyProduct() { %>
    <% let currentQuantity = product.qty %>
    <% currentQuantity.value -= 1; %>

 <% } %>
<!-- GRAVEYARD CODE



 -->
</body>
</html>