*{
    margin: 0 auto;
    box-sizing:border-box;
    background-color: #deeffc;
}
nav {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
#indexHeading {
    display:inline-block;
    font-family: 'Passion One', cursive;
    font-size: 50px;
}

#addContainer {
    display:flex;
    align-items:center;
    justify-content:center;
    font-size: 30px;
}

#addContainer a {
    text-decoration:none;
    color:black;
    border: 2px solid black;
    border-radius: 15px;
    padding:5px;
}
body {
    font-family: 'Oswald', sans-serif;
}
img {
    width: 300px;
    height: 300px;
    object-fit:cover;
    border: 3px solid black;
    border-radius:25px;
}

input {
    width: 40%;
    text-align:center;
    box-sizing:border-box;
    border: 2px solid #f25844;
    border-radius:5px;
    
}

input:focus {
    outline: 0 ;
    border: 2px solid #9d5cf2;
}

#editForm {
    margin: 20px;
}
#editBtn{
    padding: 10px;
    margin-top: 20px;
    background-color:#f25844;
}
#editBtn:hover {
    border: 2px solid white;
}
li a:hover {
    border: 1px solid black;
}

.productContainer{
    display:inline-flex;
    flex-direction: row;
    justify-content: space-around;

}


#deleteBtn {
    color:white;
    background-color:red;
    width:75px;
}

#buyBtn {
    color:white;
    background-color:#1fde35;
    width:100px; 
    border: none;
    padding: 10px;
}